
.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
background:black;
}
body {
    font-family: 'Raleway', sans-serif;
}

section {
    scroll-margin-top: 80px; 
}
.navbar {
    background-color: transparent !important;
    transition: background-color 0.5s ease;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar-scrolled {
    background-color: #0dcaf0 !important; 
}
.carousel-slide {
    width: 80%;
    height: 60%;
    object-fit: cover;
    z-index: 1;
}
table {
  background-color: black;
}

th {
  background-color:black; 
    color: white;
}

td {
  background-color: black;
  content: white;
}
#quienessomos .fa-solid {
    color: #ffffff;
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.social-icons a i {
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover i {
    color: #0dcaf0; 
    transform: scale(1.2); 
}
